---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/customer/partner-referrals
    body:
      encoding: UTF-8
      string: '{"operations":[{"operation":"API_INTEGRATION","api_integration_preference":{"rest_api_integration":{"integration_method":"PAYPAL","integration_type":"THIRD_PARTY","third_party_details":{"features":["PAYMENT","REFUND"]}}}}],"products":["EXPRESS_CHECKOUT"],"legal_consents":[{"type":"SHARE_DATA_CONSENT","granted":true}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.7.1
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - dc50ecbdadd88
    body:
      encoding: UTF-8
      string: '{"error":"invalid_token","error_description":"Access Token not found
        in cache"}'
  recorded_at: Tue, 09 Mar 2021 20:44:53 GMT
recorded_with: VCR 6.0.0
