---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<Authorization Code>"
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.6.5
      Api-Integration-Type:
      - PAYPALSDK
      Paypal-Partner-Attribution-Id:
      - "<Paypal Partner Attribution Id>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 62866f4630fa3
      X-Paypal-Token-Service:
      - IAAS
    body:
      encoding: UTF-8
      string: '{"scope":"FILTERED"}'
  recorded_at: Thu, 06 May 2021 12:47:58 GMT
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v2/payments/captures/filtered-id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization Code>"
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.6.5
      Api-Integration-Type:
      - PAYPALSDK
      Paypal-Partner-Attribution-Id:
      - "<Paypal Partner Attribution Id>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Paypal-Debug-Id:
      - 6588b339fbb7a
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETED"}'
  recorded_at: Thu, 06 May 2021 12:47:59 GMT
recorded_with: VCR 6.0.0
