---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<Authorization Code>"
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.6.5
      Api-Integration-Type:
      - PAYPALSDK
      Paypal-Partner-Attribution-Id:
      - "<Paypal Partner Attribution Id>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 7b0f2adf12b2e
      X-Paypal-Token-Service:
      - IAAS
    body:
      encoding: UTF-8
      string: '{"scope":"FILTERED"}'
  recorded_at: Tue, 27 Apr 2021 13:52:19 GMT
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v1/customer/partners/filtered-id/merchant-integrations/filtered-id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization Code>"
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.6.5
      Api-Integration-Type:
      - PAYPALSDK
      Paypal-Partner-Attribution-Id:
      - "<Paypal Partner Attribution Id>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - cf33c19f25fae
    body:
      encoding: UTF-8
      string: '{"payments_receivable":true}'
  recorded_at: Tue, 27 Apr 2021 13:52:21 GMT
recorded_with: VCR 6.0.0
