---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<Authorization Code>"
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.6.5
      Api-Integration-Type:
      - PAYPALSDK
      Paypal-Partner-Attribution-Id:
      - XDA4X6T6KXRGE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 26acb91b9f856
      X-Paypal-Token-Service:
      - IAAS
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/customer/partner-referrals/readwrite
        https://uri.paypal.com/services/invoicing https://uri.paypal.com/services/vault/payment-tokens/read
        https://uri.paypal.com/services/disputes/read-buyer https://uri.paypal.com/services/payments/realtimepayment
        https://uri.paypal.com/services/customer/onboarding/user https://api.paypal.com/v1/vault/credit-card
        https://api.paypal.com/v1/payments/.* https://uri.paypal.com/services/payments/referenced-payouts-items/readwrite
        https://uri.paypal.com/services/reporting/search/read https://uri.paypal.com/services/customer/partner
        https://uri.paypal.com/services/vault/payment-tokens/readwrite https://uri.paypal.com/services/customer/merchant-integrations/read
        https://uri.paypal.com/services/applications/webhooks https://uri.paypal.com/services/disputes/update-seller
        https://uri.paypal.com/services/payments/payment/authcapture openid https://uri.paypal.com/services/disputes/read-seller
        https://uri.paypal.com/services/payments/refund https://uri.paypal.com/services/risk/raas/transaction-context
        https://uri.paypal.com/services/partners/merchant-accounts/readwrite https://uri.paypal.com/services/identity/grantdelegation
        https://uri.paypal.com/services/customer/onboarding/account https://uri.paypal.com/payments/payouts
        https://uri.paypal.com/services/customer/onboarding/sessions https://api.paypal.com/v1/vault/credit-card/.*
        https://uri.paypal.com/services/subscriptions","access_token":"A21AALrTaHSh2KxdI8qUnfTnpVADE6mW2gqxhAGJbpkffQDy_4DhoXv3ZPXk5cgWW0hTBRGE2QPRnmz0rA5SXqy6c2ZkpQ5jg","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":32399,"nonce":"2021-04-23T12:35:41ZQEZC3Q5zm011isy5r4MePuqb-4eCbbpYmdgVpT-lGS0"}'
  recorded_at: Fri, 23 Apr 2021 12:35:42 GMT
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v1/customer/partners/XDA4X6T6KXRGE/merchant-integrations/X3MH8AWSWV9EQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization Code>"
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.6.5
      Api-Integration-Type:
      - PAYPALSDK
      Paypal-Partner-Attribution-Id:
      - XDA4X6T6KXRGE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - facf30baca29c
    body:
      encoding: UTF-8
      string: '{"merchant_id":"X3MH8AWSWV9EQ","tracking_id":"00000000-0000-0000-0000-000000000000","products":[{"name":"EXPRESS_CHECKOUT","status":"ACTIVE"}],"payments_receivable":true,"primary_email_confirmed":true,"oauth_integrations":[{"integration_type":"OAUTH_THIRD_PARTY","integration_method":"PAYPAL","oauth_third_party":[{"partner_client_id":"Aa4doRkmzlcsSQsNcEXuwdEo4bauVs-_fbrRi_EEpHOz0LfzX2NXkPDXhuyrxizO07D73cO_Glm4BYB_","merchant_client_id":"Aa4nK5F_HtNZmEouKsdsBk5zwCQC60pQVOfzI8F2N3CpJ7G-m1kLFFaZrY3WqIwaSiHBT9FSL8h710iy","scopes":["https://uri.paypal.com/services/payments/realtimepayment","https://uri.paypal.com/services/payments/partnerfee","https://uri.paypal.com/services/payments/refund","https://uri.paypal.com/services/payments/payment/authcapture"]}]}]}'
  recorded_at: Fri, 23 Apr 2021 12:35:44 GMT
recorded_with: VCR 6.0.0
