---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<Authorization Code>"
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.6.5
      Api-Integration-Type:
      - PAYPALSDK
      Paypal-Partner-Attribution-Id:
      - FLAVORsb-i847sl5964514_MP
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - adf6d24960cda
      X-Paypal-Token-Service:
      - IAAS
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/customer/partner-referrals/readwrite
        https://uri.paypal.com/services/invoicing https://uri.paypal.com/services/vault/payment-tokens/read
        https://uri.paypal.com/services/disputes/read-buyer https://uri.paypal.com/services/payments/realtimepayment
        https://uri.paypal.com/services/customer/onboarding/user https://api.paypal.com/v1/vault/credit-card
        https://api.paypal.com/v1/payments/.* https://uri.paypal.com/services/payments/referenced-payouts-items/readwrite
        https://uri.paypal.com/services/reporting/search/read https://uri.paypal.com/services/customer/partner
        https://uri.paypal.com/services/vault/payment-tokens/readwrite https://uri.paypal.com/services/customer/merchant-integrations/read
        https://uri.paypal.com/services/applications/webhooks https://uri.paypal.com/services/disputes/update-seller
        https://uri.paypal.com/services/payments/payment/authcapture openid https://uri.paypal.com/services/disputes/read-seller
        https://uri.paypal.com/services/payments/refund https://uri.paypal.com/services/risk/raas/transaction-context
        https://uri.paypal.com/services/partners/merchant-accounts/readwrite https://uri.paypal.com/services/identity/grantdelegation
        https://uri.paypal.com/services/customer/onboarding/account https://uri.paypal.com/payments/payouts
        https://uri.paypal.com/services/customer/onboarding/sessions https://api.paypal.com/v1/vault/credit-card/.*
        https://uri.paypal.com/services/subscriptions","access_token":"A21AAK-g-uylmKlGwei8sC-5bhjFhjrsNQtgb7VjOl4dwcOAQ1FW-Gs2wZdTaxW8HRsmzf4ECEtudvVaF2Yqtyuv6_P_kl90w","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":31858,"nonce":"2021-04-22T08:27:39ZoS1DXLcf06hjwXVXly8XAH7MlbkYPlZywVkvW4_7csU"}'
  recorded_at: Thu, 22 Apr 2021 08:36:41 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/customer/partner-referrals
    body:
      encoding: UTF-8
      string: '{"operations":[{"operation":"API_INTEGRATION","api_integration_preference":{"rest_api_integration":{"integration_method":"PAYPAL","integration_type":"THIRD_PARTY","third_party_details":{"features":["PAYMENT","REFUND","PARTNER_FEE"]}}}}],"products":["EXPRESS_CHECKOUT"],"legal_consents":[{"type":"SHARE_DATA_CONSENT","granted":true}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.6.5
      Api-Integration-Type:
      - PAYPALSDK
      Paypal-Partner-Attribution-Id:
      - FLAVORsb-i847sl5964514_MP
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"27d-77IJi7czfuRvAL6QhvmgGCPOjZQ"
      Paypal-Debug-Id:
      - 8ea9d62de0bbd
    body:
      encoding: UTF-8
      string: '{"links":[{"href":"https://api.sandbox.paypal.com/v2/customer/partner-referrals/YjAyOTcxMTEtZDY5Zi00ZGEzLThiMWYtNGZmYTU1MjI1NDMwelI4OHpvTUhmQnB1WlBUbUp4REJReHNjcW95c1NIdVZPek9ZSkxocjVZbz12Mg==","rel":"self","method":"GET","description":"Read
        Referral Data shared by the Caller."},{"href":"https://www.sandbox.paypal.com/us/merchantsignup/partner/onboardingentry?token=YjAyOTcxMTEtZDY5Zi00ZGEzLThiMWYtNGZmYTU1MjI1NDMwelI4OHpvTUhmQnB1WlBUbUp4REJReHNjcW95c1NIdVZPek9ZSkxocjVZbz12Mg==","rel":"action_url","method":"GET","description":"Target
        WEB REDIRECT URL for the next action. Customer should be redirected to this
        URL in the browser."}]}'
  recorded_at: Thu, 22 Apr 2021 08:36:42 GMT
recorded_with: VCR 6.0.0
