---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<Authorization Code>"
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.7.1
      Api-Integration-Type:
      - PAYPALSDK
      Paypal-Partner-Attribution-Id:
      - Nebulab_PCP_2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 10fc60f097f95
      X-Paypal-Token-Service:
      - IAAS
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/customer/partner-referrals/readwrite
        https://uri.paypal.com/services/invoicing https://uri.paypal.com/services/vault/payment-tokens/read
        https://uri.paypal.com/services/disputes/read-buyer https://uri.paypal.com/services/payments/realtimepayment
        https://uri.paypal.com/services/customer/onboarding/user https://api.paypal.com/v1/vault/credit-card
        https://api.paypal.com/v1/payments/.* https://uri.paypal.com/services/payments/referenced-payouts-items/readwrite
        https://uri.paypal.com/services/reporting/search/read https://uri.paypal.com/services/customer/partner
        https://uri.paypal.com/services/vault/payment-tokens/readwrite https://uri.paypal.com/services/customer/merchant-integrations/read
        https://uri.paypal.com/services/applications/webhooks https://uri.paypal.com/services/disputes/update-seller
        https://uri.paypal.com/services/payments/payment/authcapture openid Braintree:Vault
        https://uri.paypal.com/services/disputes/read-seller https://uri.paypal.com/services/payments/refund
        https://uri.paypal.com/services/risk/raas/transaction-context https://uri.paypal.com/services/partners/merchant-accounts/readwrite
        https://uri.paypal.com/services/identity/grantdelegation https://uri.paypal.com/services/customer/onboarding/account
        https://uri.paypal.com/payments/payouts https://uri.paypal.com/services/customer/onboarding/sessions
        https://api.paypal.com/v1/vault/credit-card/.* https://uri.paypal.com/services/subscriptions","access_token":"A21AAKRGktlhWsRn30orwKNqDnsCyNgjwNcAOfIKkAVkMVDVS2ebjWWKPGGz9Tn5iRTbGbMQItFD4G_yi6s5hVg8myk9tQ2RQ","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":32400,"nonce":"2021-03-01T08:16:20Z4TrDudS65u6kGywDxFC8s840tiUwxMdrRlqA4RFgmKc"}'
  recorded_at: Mon, 01 Mar 2021 08:16:20 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v2/customer/partner-referrals
    body:
      encoding: UTF-8
      string: '{"operations":[{"operation":"API_INTEGRATION","api_integration_preference":{"rest_api_integration":{"integration_method":"PAYPAL","integration_type":"THIRD_PARTY","third_party_details":{"features":["PAYMENT","REFUND"]}}}}],"products":["EXPRESS_CHECKOUT"],"legal_consents":[{"type":"SHARE_DATA_CONSENT","granted":true}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.7.1
      Api-Integration-Type:
      - PAYPALSDK
      Paypal-Partner-Attribution-Id:
      - Nebulab_PCP_2
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"27d-LptRpq+vnYFBa5C2YdANOOaY5Ms"
      Paypal-Debug-Id:
      - 50f053a8b3b71
    body:
      encoding: UTF-8
      string: '{"links":[{"href":"https://api.sandbox.paypal.com/v2/customer/partner-referrals/MzYyNWRiMDktNzFiMC00NDgxLTg3MjQtY2M2YTFlMDhhYzEzUldsTWdxanhDcHFva2RLQkppOFlnLzJFUHVWSHBVWGNtS3lELzAvWXN6Zz12Mg==","rel":"self","method":"GET","description":"Read
        Referral Data shared by the Caller."},{"href":"https://www.sandbox.paypal.com/us/merchantsignup/partner/onboardingentry?token=MzYyNWRiMDktNzFiMC00NDgxLTg3MjQtY2M2YTFlMDhhYzEzUldsTWdxanhDcHFva2RLQkppOFlnLzJFUHVWSHBVWGNtS3lELzAvWXN6Zz12Mg==","rel":"action_url","method":"GET","description":"Target
        WEB REDIRECT URL for the next action. Customer should be redirected to this
        URL in the browser."}]}'
  recorded_at: Mon, 01 Mar 2021 08:16:21 GMT
recorded_with: VCR 6.0.0
